body {
  width: 100%;
  height: 100%;
  font-family: 'rubik', monospace;
  background-color: #222831;
  margin: 0;
}

form#loginForm {
  padding: 40vh 0;
  text-align: center;
  height: 100%;
}

input[type="text"], input[type="tel"] {
  text-align: center;
  font-family: 'rubik', monospace;
  margin: 10px 0;
  padding: 0;
  width: 70%;
  height: 9vh;
  font-size: 40px;
  border: none;
  border-radius: 10px 0 0 10px;
  outline: none;
}

input[type="submit"] {
  cursor: pointer;
  width: 10%;
  height: 9vh;
  font-size: 40px;
  font-family: 'rubik', monospace;
  border: none;
  border-radius: 0 10px 10px 0;
  outline: none;
  appearance: none;
  background-color: #00ADB5;
}

.playersScreen {
  display: none;
  color: #00ADB5;
  text-align: center;
}

.playersScreen ul {
  padding: 0;
  margin: 0;
}

.playersScreen ul li {
  display: inline-block;
  margin: 5px;
  width: 38%;
  height: 90px;
  font-size: 30px;
  text-align: center;
  padding-top:45px;
  color: #fff;
  background-color: #393E46;
  border-radius: 10px;
}

.playersScreen #startGame {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 9vh;
  font-size: 3vh;
  padding-top: 5vh;
  background-color: #00ADB5;
  color: #fff;
  cursor: pointer;
}

.questionArea {
  display: none;
  text-align: center;
  padding: 30vh 0;
}

.questionArea h1{
  font-size: 75px;
  margin: 10px 0;
  color: #FF2E63;
}

.questionArea form{
  text-align: center;
  height: 100%;
}

.questionArea form input[type="tel"] {
  background-color: #f2f2f2;
}
.questionArea form input[type="submit"] {
  background-color: #f2f2f2;
}

.waiting {
  display: none;
  text-align: center;
  padding: 40vh 0;
  font-size: 22px;
  color: #fff;
}

.leaderboard {
  display: none;
  text-align: center;
}

.leaderboard ul{
  margin: 0;
  padding: 0;
}

.leaderboard ul li{
  display: inline-block;
  margin: 5px;
  width: 60%;
  height: 70px;
  font-size: 30px;
  text-align: center;
  padding-top:25px;
  background-color: #fff;
  color: #FF2E63;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 12px 0px #ddd;
  -moz-box-shadow: 0px 0px 12px 0px #ddd;
  box-shadow: 0px 0px 12px 0px #ddd;
}

.winner {
    display: none;
    text-align: center;
    padding: 40vh 0;
    background-color: #fff;
}

.winner > h1,h2{
    display: inline-block;
    font-size: 42px;
}

.winner h1 {
    color: #AF05AA;
}

.winner h2 {
    color: #EA21A2;
}
